@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap');

*{
    font-family: 'Rokkitt', serif;
}

#nsc-home{
    margin-top: 30px;
    font-size: 60px;
}

.takmicari {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 100px;
    grid-column-gap: 100px;
    justify-content: center;
    margin-top: 50px;
}

#novi-button{
    width: 250px;
    margin-bottom: -10px;
    margin-left: 510px;
    font-size: 22px;
}

#forma-novi {
    width: 400px;
    margin-top: 30px;
    margin-left: 430px;
    font-size: 22px;
}

#dodajt-button{
    font-size: 22px;
}

.search {
    display: flex;
}

#pretraga {
    width: 300px;
    margin-left: 450px;
    margin-right: 20px;
}

#p-btn {
    font-size: 20px;
}

#s-btn {
    font-size: 20px;
    margin-left: 550px;
    margin-top: 10px;
    width: 150px;
}